Thank you for registering in a GRE Bootcamp Math Review Session.  Here is your registration information:
  <br /><br />
  <table style="margin-top: 0px">
    <tr>
      <td>Name:</td>
      <td><%= Student.find(student_id).name -%></td>
    </tr>
    <tr>
      <td>Email:</td>
      <td><%= Student.find(student_id).email -%></td>
    </tr>
    <tr>
      <td>City:</td>
      <td><%= Bootcamp.find(bootcamp_id).city -%></td>
    </tr>
    <tr>
      <td>Building:</td>
      <td><%= Bootcamp.find(bootcamp_id).building -%></td>
    </tr>
     <tr>
        <td>Room:</td>
        <td><%= Bootcamp.find(bootcamp_id).room -%></td>
      </tr>
    <tr>
      <td>Date:</td>
      <td><%= Bootcamp.find(bootcamp_id).date -%></td>
    </tr>
    <tr>
      <td>Time:</td>
      <td><%= Bootcamp.find(bootcamp_id).time -%></td>
    </tr>
  </table>
<br />
<br />
Any updates to this Review Session (for example, the location) will be emailed to you.  If you have any questions or comments, you can
always reach us at support@grebootcamp.com.