<div class="news-block">
  <h3 style="color:#8A0300">General Info from ETS</h3>
  <p>ETS is the organization that administers the GRE.  Here we've linked the section of
    their website describing the GRE General exam.</p>
    <small>Posted on September 1, 2009</small>
    <%= link_to 'Open Link', 
    'http://www.ets.org/portal/site/ets/menuitem.1488512ecfd5b8849a77b13bc3921509/?vgnextoid=e1b42d3631df4010VgnVCM10000022f95190RCRD&vgnextchannel=5416e3b5f64f4010VgnVCM10000022f95190RCRD', :class => "read-more", :target => "_blank" %>
  </div>


  <div class="news-block">
    <h3 style="color:#8A0300">Math Review from ETS</h3>
    <p>Download a booklet containing a full GRE Math review provided by ETS.</p>
    <small>Posted on September 1, 2009</small>
    <%= link_to 'Download', 'www.ets.org/Media/Tests/GRE/pdf/GREmathPractice.pdf', :class => "read-more", :target => "_blank" %>
  </div>

  <div class="news-block">
    <h3 style="color:#8A0300">Practice Exam from ETS</h3>
    <p>Download a full GRE General practice test provided by ETS.</p>
    <small>Posted on September 1, 2009</small>
    <%= link_to 'Download', 'http://www.ets.org/Media/Tests/GRE/pdf/gre%20practice%20general%20test.pdf', :class => "read-more", :target => "_blank" %>
  </div>


  <div class="news-block">
    <h3 style="color:#8A0300">Amusing Advice from One Testee</h3>
    <p>This blog has a fairly nice entry about his experiences with the GRE general,
      with some advice for future takers.</p>
      <small>Posted on September 1, 2009</small>
      <%= link_to 'Open Link', 'http://whiteopal.wordpress.com/2009/03/26/a-gre-test-takers-experience/', :class => "read-more", :target => "_blank" %>
    </div>

    <div class="news-block">
      <h3 style="color:#8A0300">GRE Prep: Kaplan</h3>
      <p>Kaplan offers excellent comprehensive review courses for both General and Subject GRE.</p>
      <small>Posted on September 1, 2009</small>
      <%= link_to 'Open Link', 'http://www.kaptest.com/gre', :class => "read-more", :target => "_blank" %>
    </div>
